:root {
    --indent: 24px;
    --items: 3;
}

ul {
    list-style: none;
    padding: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: var(--indent);
    row-gap: calc(var(--indent) * 1);
}

.gallery .gallery-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1))/var(--items));
    overflow: hidden;
}

.gallery-item img {
    display: block;
    max-width: 100%;
    object-fit: contain;
}